$color_level_one: #0B0C10;
$color_level_two: #1F2833;
$color_level_three: #323c49;
$color_level_four: #66FCF1;

@mixin displayFLex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    margin: 0;
    font-size: 2vw;
    box-sizing: border-box;
    text-decoration: none;
}

.navbar{
    @include displayFLex();
    color: $color_level_four;
    background-color: $color_level_one;
    height: 15vh;
    .userInteractionNavBar{
        @include displayFLex();
        align-items: center;
        justify-content: right;
        width: 50%;
        div {
            margin-left: 2vw;
        }
    }
}


.login-form, .register-form{
    width: 100%;
    height: 50vh;
    background-color: $color_level_three;
    color: $color_level_four;
    @include displayFLex();
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    div ,p ,h1{
        width: 100%;
    }

    button{
        background-color: $color_level_two;
        color: whitesmoke;
        border: 2px solid $color_level_one;
    }
    input{
        background-color: $color_level_two;
        color: whitesmoke;
        border: 2px solid $color_level_one;
    }

}

.footer{
    @include displayFLex();
    height: 5vh;
    background-color: $color_level_two;
    justify-content: center;
    * {
        margin-left: 1vw;
    }
}

a:hover, .logOutButton:hover{
    color: $color_level_three;
}
a:focus, a, a:active{
    color: inherit;
}