html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  font-size: 1.5vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #66FCF1;
  background-color: #0B0C10;
  height: 14vh;
}

.navbar .userInteractionNavBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
}

.navbar .userInteractionNavBar div {
  margin-left: 2vw;
}

.form-wrapper-div {
  width: 100%;
  height: 81vh;
  background-color: #1F2833;
  color: #66FCF1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.form-wrapper-div .login-form, .form-wrapper-div .register-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50%;
}

.form-wrapper-div .login-form div, .form-wrapper-div .login-form p, .form-wrapper-div .login-form h1, .form-wrapper-div .register-form div, .form-wrapper-div .register-form p, .form-wrapper-div .register-form h1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-wrapper-div .login-form p, .form-wrapper-div .register-form p {
  text-align: center;
}

.form-wrapper-div .forgot-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 30%;
}

.form-wrapper-div .forgot-form div, .form-wrapper-div .forgot-form h1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-wrapper-div .forgot-form p {
  text-align: center;
}

.form-wrapper-div .forgot-form h1 {
  margin-bottom: 2vh;
}

.form-wrapper-div .forgot-form .header-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-wrapper-div .forgot-form .header-div * {
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-wrapper-div button {
  background-color: #1F2833;
  color: #C5C6C7;
  border: 2px solid #0B0C10;
}

.form-wrapper-div input {
  background-color: #1F2833;
  color: #C5C6C7;
  border: 2px solid #0B0C10;
  margin-left: 2vw;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 5vh;
  background-color: #0B0C10;
  color: #C5C6C7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer * {
  margin-left: 1vw;
}

a:hover, .logOutButton:hover {
  color: #323c49;
}

a:focus, a, a:active {
  color: inherit;
}

.search-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  background-color: #1F2833;
  color: #C5C6C7;
  height: 10vh;
}

.search-div input {
  margin-left: 1vw;
  margin-right: 1vw;
}

.search-div .game-name-box {
  margin-left: 2vw;
  margin-right: 2vw;
  min-width: 30vw;
  text-align: center;
  background-color: #1F2833;
  color: #66FCF1;
  border-color: #C5C6C7;
}

.search-div .submit-dugme {
  background-color: #0B0C10;
  color: #C5C6C7;
  text-align: center;
  min-width: 10vw;
}

.results-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  background-color: #323c49;
  min-height: 25vh;
  color: #C5C6C7;
}

.results-div div {
  margin-bottom: 2vh;
  margin-top: 1vh;
  width: 33%;
}

.results-div img {
  width: 15vw;
  height: auto;
}

.jump-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #0B0C10;
  text-align: center;
  height: 5vh;
  color: #C5C6C7;
}

.jump-div button {
  background-color: #0B0C10;
  color: #C5C6C7;
  text-align: center;
  min-width: 10vw;
}

.detailed-game-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #1F2833;
  color: #C5C6C7;
  min-height: 41vh;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
}

.detailed-game-div button {
  background-color: #0B0C10;
  color: #C5C6C7;
  text-align: center;
  min-width: 10vw;
}

.detailed-game-div .deals-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  background-color: #1F2833;
  color: #C5C6C7;
  width: 100%;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.detailed-game-div .deals-div a {
  width: 25%;
  margin-top: 1vh;
}

.detailed-game-div .detailed-games {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.detailed-game-div .detailed-games .big-image {
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  min-width: 20%;
  max-width: 35%;
  height: auto;
}

hr {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  margin-bottom: 2.5vh;
}

.settings-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #1F2833;
  height: 81vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.settings-div .settings-wrapper-div div {
  color: #C5C6C7;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 3vh;
}

.settings-div .settings-wrapper-div div button {
  background-color: #0B0C10;
  color: #C5C6C7;
  text-align: center;
  min-width: 10vw;
  margin-left: 2vw;
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #1F2833;
  height: 81vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #C5C6C7;
}

.form-wrapper .form-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin-bottom: 3vh;
  justify-content: space-around;
}

.form-wrapper .form-div input {
  margin-left: 1vw;
  background-color: #1F2833;
  color: #C5C6C7;
  border: 2px solid #0B0C10;
}

.form-wrapper button {
  background-color: #0B0C10;
  color: #C5C6C7;
  text-align: center;
  min-width: 10vw;
}

.form-wrapper .verification-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.form-wrapper .delete-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-content: center;
  text-align: center;
}

.form-wrapper .delete-form input {
  background-color: #1F2833;
  color: #C5C6C7;
  border: 2px solid #0B0C10;
  margin-right: 2vw;
}

.form-wrapper .delete-form h1, .form-wrapper .delete-form p, .form-wrapper .delete-form div {
  width: 100%;
  margin-bottom: 2vh;
}

@media screen and (max-width: 480px) {
  label, p, a, h1, input, button, h4 {
    font-size: 4vw;
  }
  .results-div div {
    width: 50%;
  }
  .jump-div button {
    margin-left: 3vw;
  }
  .detailed-games .big-image, .detailed-games .description-p, .detailed-games button[class^="follow-button-"] {
    width: 50%;
    margin-top: 1vh;
  }
  .deals-div a {
    margin-left: 10vw;
  }
  .userInteractionNavBar {
    text-align: right;
  }
  .userInteractionNavBar div {
    width: 100%;
  }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
  label, p, a, h1, input, button, h4 {
    font-size: 3vw;
  }
  .detailed-games .big-image, .detailed-games .description-p, .detailed-games button[class^="follow-button-"] {
    width: 50%;
    margin-top: 1vh;
  }
  .deals-div a {
    margin-left: 5vw;
  }
}

.footer img {
  height: 2.5vh;
  width: auto;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.footer div {
  padding-left: 1vw;
}
/*# sourceMappingURL=App.css.map */