$color_level_one: #0B0C10;
$color_level_two: #1F2833;
$color_level_three: #323c49;
$color_level_four: #66FCF1;
$color_text: #C5C6C7;

@mixin displayFLex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@mixin button {
    background-color: $color_level_one;
    color: $color_text;
    text-align: center;
    min-width: 10vw;
}

@mixin input {
    background-color: $color_level_two;
    color: $color_text;
    border: 2px solid $color_level_one;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    margin: 0;
    font-size: 1.5vw;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    @include displayFLex();
    color: $color_level_four;
    background-color: $color_level_one;
    height: 14vh;
    .userInteractionNavBar{
        @include displayFLex();
        align-items: center;
        justify-content: right;
        flex-wrap: wrap;
        flex-direction: row;
        width: 50%;
        div {
            margin-left: 2vw;
        }
    }
}


.form-wrapper-div{
    width: 100%;
    height: 81vh;
    background-color: $color_level_two;
    color: $color_level_four;
    @include displayFLex();

    .login-form, .register-form{
        @include displayFLex();
        flex-wrap: wrap;
        flex-direction: row;

        height: 60%;
        div ,p ,h1{
            width: 100%;
            @include displayFLex();
            justify-content: center;
        }
        p{
          text-align: center;
        }
        input{
            margin-bottom: 1vh;
            margin-top: 1vh;
        }
    }

    .forgot-form{
        @include displayFLex();
        flex-wrap: wrap;
        flex-direction: row;

        height: 30%;

        div, h1 {
            width: 100%;
            @include displayFLex();
            justify-content: center;
        }

        p{
            text-align: center;
        }

        h1{
            margin-bottom: 2vh;
        }
        
        .header-div{
            @include displayFLex();
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            *{
                width: 100%;
                height: 100%;
                text-align: center;
                justify-content: center;
            }
        }
    
    }

    button{
        background-color: $color_level_two;
        color: $color_text;
        border: 2px solid $color_level_one;
    }
   
    input{
        @include input();
        margin-left: 2vw;
    }

}

.footer{
    @include displayFLex();
    height: 5vh;
    background-color: $color_level_one;
    color: $color_text;
    justify-content: center;
    * {
        margin-left: 1vw;
    }
}

a:hover, .logOutButton:hover{
    color: $color_level_three;
}
a:focus, a, a:active{
    color: inherit;
}

.search-div{
    @include displayFLex();
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    background-color: $color_level_two;
    color: $color_text;
    height: 10vh;
    input{
        margin-left: 1vw;
        margin-right: 1vw;
    }
    .game-name-box{
        margin-left: 2vw;
        margin-right: 2vw;
        min-width: 30vw;
        text-align: center;
        background-color: $color_level_two;
        color: $color_level_four;
        border-color: $color_text;
    }
    .submit-dugme{
        @include button();
    }
}

.results-div{
    @include displayFLex();
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    background-color: $color_level_three;
    min-height: 25vh;
    color: $color_text;
    div{
        margin-bottom: 2vh;
        margin-top: 1vh;
        width: 33%;
    }
    img{
        width: 15vw;
        height: auto;
    }
}

.jump-div{
    @include displayFLex();
    justify-content: space-evenly;
    background-color: $color_level_one;
    text-align: center;
    height: 5vh;
    color: $color_text;
    button{
        @include button();
    }
}

.detailed-game-div{
    width: 100%;
    @include displayFLex();
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    background-color: $color_level_two;
    color: $color_text;
    min-height: 41vh;
    padding-top: 1vh;
    padding-bottom: 1vh;

    button{
        @include button();
    }

    .deals-div{
        @include displayFLex();
        flex-wrap: wrap;
        flex-direction: row;
        text-align: center;
        background-color: $color_level_two;
        color: $color_text;
        width: 100%;
        margin-bottom: 1vh; 
        height: 50vh;

        a{
            font-size: 1vw;
            width: 25%;
            margin-top: 1vh;
        }
    }

    .detailed-games{
        border: 3px solid $color_level_one;
        @include displayFLex();
        width: 50%;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 1vh;
        
        .detailed-game-description{
            @include displayFLex();
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: row;
            
            .big-image{
                width: 100%;
                margin-left: 2.5vw;
                margin-right: 2.5vw;
                max-width: 25%;
                height: auto;
                margin-bottom: 2vh;
                margin-top: 2vh;
            }

            p{
                width: 100%;
                margin-bottom: 2vh;
            }
            
        }
    } 
}

hr{
    flex-grow: 1;
    width: 100%;
    margin-bottom: 2.5vh;
}

.settings-div{
    @include displayFLex();
    background-color: $color_level_two;
    height: 81vh;
    flex-wrap: wrap;
    flex-direction: row;
    .settings-wrapper-div div{
        color: $color_text;
        width: 100%;
        @include displayFLex();
        justify-content: space-evenly;
        margin-top: 3vh;
        button {
            @include button();
            margin-left: 2vw;
        }
    }
}

.form-wrapper{
    @include displayFLex();
    background-color: $color_level_two;
    height: 81vh;
    flex-wrap: wrap;
    flex-direction: row;
    color: $color_text;

    .change-form{
        @include displayFLex();
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        width: 50%;
        height: 75%;
        text-align: center;
        button{
            margin-left: 5vw;
        }
    }

    .password-info{
        @include displayFLex();
        flex-wrap: wrap;
        flex-direction: row;
        max-width: 50%;
        font-size: 2vw;
        color: $color_level_four;
        p{
            background-color: $color_level_one;
        }
    }

    .change-form .form-div{
        @include displayFLex();
        justify-content: center;
        width: 100%;
        margin-bottom: 2vh;

        input{
            margin-left: 1vw;
            @include input();
        }
    }

    button{
        @include button();
    }

    .verification-form{
        @include displayFLex();
        justify-content: center;
        text-align: center;
    }
    .delete-form{
        @include displayFLex();
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        input {
            @include input();
        }
        h1, p, div{
            width: 100%;
            margin-bottom: 2vh;
        }
        .submit-button{
            margin-left: 1vw;
        }
    }
}

.footer{
    img{
        height: 2.5vh;
        width: auto;
        filter: invert(1);
    }
    div{
        padding-left: 1vw;
    }
}

.password-info{
    @include displayFLex();
    flex-wrap: wrap;
    flex-direction: row;
    min-width: 50%;
    font-size: 2vw;
    p, .username-info{
        @include displayFLex();
        margin-top: 2vh;
        background-color: $color_level_one;
        min-height: 30vh;
        min-width: 40vw;
        text-align: center;
    }

    .username-info{
        min-height: 15vh;
    }
}

@media screen and (max-width: 480px){
    label, p, a, h1, input, button, h4{
        font-size: 3.5vw;
    }

    .results-div div{
        width: 50%;
    }

    .jump-div button{
        margin-left: 3vw;
    }

    .detailed-games{
        min-width: 100%;
        min-height: 50vh;   
        .deals-div{
            justify-content: space-evenly;
        }

        .detailed-game-description{    
            .description-p, button[class^="follow-button-"]{
                width: 50%;
                margin-top: 1vh;
            }
        .big-image{
            min-width: 25vw;
        }
        }
    }

    .userInteractionNavBar{
        div{
            width: 100%;
        }
        text-align: right;
    }

    .form-wrapper{
        .change-form{
            width: 48%;
            margin-left: 2vw;
            .form-div{
                @include displayFLex();
                flex-wrap: wrap;
                flex-direction: row;
                p{
                    width: 100%;
                }
            }
        }
        .password-info{
            width: 40%;
            p{
                width: 40%;
            }
        }
    }

    .form-wrapper-div{
        .password-info{
            width: 40%;
            p{
                width: 40%;
            }
        }
        .register-form{
            .login-message-div{
                p{
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) and (min-width: 481px){
    label, p, a, h1, input, button, h4{
        font-size: 2.5vw;
    }

    .detailed-games{
        min-height: 100vh;   
        .detailed-game-description{    
            .description-p, button[class^="follow-button-"]{
                width: 50%;
                margin-top: 1vh;
            }
        .big-image{
            min-width: 25vw;
        }
        }
    }

}